!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Prayforme
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body.sidebar-mini.skin-red
    .wrapper
      = render 'layouts/admin/header'
      = render 'layouts/admin/sidebar'
      .content-wrapper
        = render partial: 'admin/partials/flash_messages'
        = yield
